{% load djadmin_tags %}

<div class="col">
  {% if 'obj' in item.col %}
    {% include 'admin/djadmin_components/object_details.html' with object_details=item.col %}
  {% elif 'rows' in item.col %}
    {% include 'admin/djadmin_components/object_list.html' with object_list=item.col %}
  {% elif item.col|is_list %}
    {% include 'admin/djadmin_components/_auto_row_col.html' with item=item.col %}
  {% elif item.col is None %}
    &nbsp;
  {% elif item.col|is_partial %}
    {% include item.col %}
  {% else %}
    {{ item.col }}
  {% endif %}
</div>
