{% load tag_extras admin_tags %}

<div class="card mb-5">
  <div class="card-header">
    {% if object_details.panel_name %}
      {{ object_details.panel_name }}
    {% elif object_details.obj %}
      {% get_obj_classname object_details.obj %}: {{ object_details.obj }}
    {% endif %}
  </div>
  <table class="table table-borderless mb-0 table-striped">
    {% if object_details.obj %}
      {% for obj_detail in object_details.obj_details %}
        <tr>
          <th>{{ obj_detail.display_name }}</th>
          <td>
            {% is_file_field obj_detail.value as field_is_file %}
            {% is_model_field obj_detail.value as field_is_obj_model %}
            {% if field_is_file %}
              {% if obj_detail.value %}
                <a href="{{ obj_detail.value.url }}">{{ obj_detail.value }}</a>
              {% else %}
                -
              {% endif %}
            {% elif field_is_obj_model %}
              <a href="{% get_obj_detail_url obj_detail.value %}">{{ obj_detail.value }}</a>
            {% elif obj_detail.value|is_dict %}
              <pre><code>{{ obj_detail.value|jsonify|safe }}</code></pre>
            {% else %}
              {{ obj_detail.value }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td>{{ _("No details to display") }}</td>
      </tr>
    {% endif %}
  </table>
</div>
